*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
    
}
.gallery
{

    margin: 2em;
    border: 2px solid black;
}
.gallery img
{
    position:relative;
    margin-top: 10px;

}
.start p
{
    text-align: center;
    margin: 20px;
}
